<!DOCTYPE html>
<html>
	<head>
		<!--inline[../../common/page/head.ejs]-->
		<title>测试</title>
		<link rel="stylesheet" type="text/css" href="../static/index.css?__inline">
	</head>

	<body>

		
		<!--inline[../../common/page/foot.ejs]-->
		<script src="../static/index.js?__inline"></script>
	</body>
</html> 