<!DOCTYPE html>
<html>
	<head>
		<title>测试</title>
		<!--inline[../../common/page/head.ejs]-->
		<link rel="stylesheet" type="text/css" href="../../common/static/bootstrap.css?__inline">
		<link rel="stylesheet" type="text/css" href="../static/hostLoan.css?__inline">
	</head>
	<body>
		<nav class = "navbar navbar-default	navbar-fixed-top">
			 <ul class="product-header header">
			  	<li id = "borderright" class=""><a href="#">金票宝</a></li>
			  	<li class="active"><a href="#">银票宝</a></li>
			 </ul>
		</nav>
		<div class = "divTop"></div>
		<div class = "items">

		</div>
		<a href = "#" class ="product_v">
			<p class = "no">国宝计划第<b>11</b>期</p>
			<div class="detail">
				<div class="price">
					<span class="total">10000</span>
					
					<span class="plus">+1</span>
				</div>
				<div class="profit">
					
					<span class="num">18</span>
					
				</div>
				<div class="status">
					<span>还款中</span> 
				</div>
			</div>
		</a>

		<!--inline[../../common/page/foot.ejs]-->
	</body>
</html>
