<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../common/page/head.ejs]-->
        <title>测试</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css?__inline">
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/my"+"test" class="border-r">即将回款<span class="badge">2</span></a></li>
                <li class="li-right active"><a href="/mytest2">已回款<span class="badge">3</span></a></li>
            </ul>
        </header>
        <section class="no-return">
            <div class="item-block">
                <div class="title">
                    <h5>国宝计划11期</h5><a href="#">查看合同> </a>
                </div>
                <div class="row item-content">
                    <div class="col-xs-5">
                        <span class="nums">100000.00</span>
                        <span claas="">已投金额(元)</span>
                    </div>
                    <div class="col-xs-3">
                        <span class="nums">12.22%</span>
                        <span>年化利率</span>
                    </div>
                    <div class="col-xs-4">
                        <span class="nums">9108.87</span>
                        <span>收益(元)</span>
                    </div>
                </div>
                <div  class="item-time">
                    <div class="time-full">
                        <span>到期时间:<span class="date-full">2016年3月12号</span></span>
                    </div>
                    <div class="time-day">
                        <span>还剩:<span class="date-day">19</span>天</span>
                    </div>
                </div>
            </div>
            <div class="item-block">
                <div class="title">
                    <h5>国宝计划11期</h5><a href="#">查看合同</a>
                </div>
                <div class="row item-content">
                    <div class="col-xs-5">
                        <span class="nums">100000.00</span>
                        <span claas="">已投金额(元)</span>
                    </div>
                    <div class="col-xs-3">
                        <span class="nums">12.22%</span>
                        <span>年化利率</span>
                    </div>
                    <div class="col-xs-4">
                        <span class="nums">1008.87</span>
                        <span>收益(元)</span>
                    </div>
                </div>
                <div  class="item-time">
                    <div class="time-full">
                        <span>到期时间:<span class="date-full">2016年3月12号</span></span>
                    </div>
                    <div class="time-day">
                        <span>还剩:<span class="date-day">19</span>天</span>
                    </div>
                </div>
            </div>
            <div class="item-block">
                <div class="title">
                    <h5>国宝计划11期</h5><a href="#">查看合同</a>
                </div>
                <div class="row item-content">
                    <div class="col-xs-5">
                        <span class="nums">100000.00</span>
                        <span claas="">已投金额(元)</span>
                    </div>
                    <div class="col-xs-3">
                        <span class="nums">12.22%</span>
                        <span>年化利率</span>
                    </div>
                    <div class="col-xs-4">
                        <span class="nums">98.87</span>
                        <span>收益(元)</span>
                    </div>
                </div>
                <div  class="item-time">
                    <div class="time-full">
                        <span>到期时间:<span class="date-full">2016年3月12号</span></span>
                    </div>
                    <div class="time-day">
                        <span>还剩:<span class="date-day">19</span>天</span>
                    </div>
                </div>
            </div>
            <div class="item-block">
                <div class="title">
                    <h5>国宝计划11期</h5><a href="#">查看合同</a>
                </div>
                <div class="row item-content">
                    <div class="col-xs-5">
                        <span class="nums">100000.00</span>
                        <span claas="">已投金额(元)</span>
                    </div>
                    <div class="col-xs-3">
                        <span class="nums">12.22%</span>
                        <span>年化利率</span>
                    </div>
                    <div class="col-xs-4">
                        <span class="nums">98.87</span>
                        <span>收益(元)</span>
                    </div>
                </div>
                <div  class="item-time">
                    <div class="time-full">
                        <span>到期时间:<span class="date-full">2016年3月12号</span></span>
                    </div>
                    <div class="time-day">
                        <span>还剩:<span class="date-day">19</span>天</span>
                    </div>
                </div>
            </div>
        </section>
        <p class="text-center">已经到底了，一共4条记录。</p>
        <!--inline[../../common/page/foot.ejs]-->
        <script>
        </script>
    </body>
</html>